<!DOCTYPE html>
<html>
<body>
<h1>Index</h1>
    <p>
        <ul>
            <%@articles.each do |article|%>
                <li><%=article.title%></li>
            <%end%>
        </ul>
    </p>
    </body>

</html>