<h1>Create an article</h1>
<form action="/articles" method="post">
    <p>Title: <input type="text" name="title"><br></p>
    <p>Content: </p><br>
    <textarea name="content"></textarea><br>
    <button type="submit" value="submit">Submit</button>
</form>